
html,
body {
  height: 100%;
  margin: 0;
}

main{
  background-color: rgba(231, 231, 231, 0.856);
  text-align: center;
  height: 100%;
}

.navbar{
  background-color: rgba(46, 46, 46, 0.945);
  top: 0;
  left: 0;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  padding: 30px;
}

.plan{
  width: 80%;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    
  color: #fff;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.furniture {
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: darkcyan;
  color: #fff;
  border: none;
  font-size: 1.4em;
  cursor: pointer;
  box-shadow: 5px 5px 40px #000;
  outline: none;
  top: 10%;
  right: 0;
  transform: translate(-50%, -50%);
}
  
.redborder{
  border: 10px solid red;
}

